# gihub CI example and folder .github/workflows/
name: CI
on:
    push:
        branches: ["main"]
jobs:
    builds:
     runs-on: ubuntu-latest
     steps: 
        - uses: actions/checkout@v5
        
        - name: Run a one-online script
          run: echo Hello Venkata Ramm
